<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Courier service - call center task list</title>
    <meta http-equiv="Refresh" content="10" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h4 class="my-3">Call center task list:</h4>
    <form action="#" th:action="@{/tasks}" class="form-inline mb-3" method="get">
        <label for="filter" class="my-1 mr-2">Order Number</label>
        <input type="search" class="form-control my-1 mr-sm-2" autofocus
               id="filter" name="filter" th:value="${filter}" placeholder="Enter order number" />
        <button type="submit" class="btn btn-primary my-1">Search</button>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="w-75" scope="col">Order number</th>
            <th class="w-25" scope="col">Creation Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.orderNumber}">Order number</td>
            <td th:text="${#temporals.format(task.creationDate, 'yyyy-MM-dd HH:mm:SS')}">Date</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>